<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<style>
    footer {

    }

</style>

<body>
<footer th:fragment="footer" style="background-color:white;">

    <div class="container2">
        <hr>
            <div class="row">
                <div class="col"><img src="/image/githubLogo.png" alt="깃허브 로고" style="width: 2rem; height: 2rem;">Contact Us</div>
                <a class="col" href="https://github.com/hyeon8571">Won's Github</a>
                <a class="col" href="https://github.com/nobleviper">Yang's Github</a>
                <a class="col" href="https://github.com/whffu762">Kim's Github</a>
            </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Tomato Leaf Classification Project</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
